/logs
/admin/jcase-admin-web/*.versionsBackup
/jcase-common/*.versionsBackup
/jcase-example/jcase-example-checkout-service/*.versionsBackup
/jcase-example/jcase-example-order-service-client/*.versionsBackup
/jcase-example/jcase-example-order-service/*.versionsBackup
/jcase-example/jcase-example-price-service-client/*.versionsBackup
/jcase-example/jcase-example-price-service/*.versionsBackup
/jcase-example/*.versionsBackup
/*.versionsBackup
/record/jcase-record-agent/*.versionsBackup
/record/jcase-record-dumper/*.versionsBackup
/replay/jcase-replay-agent/*.versionsBackup
/replay/jcase-replay-pumper/*.versionsBackup
/replay/jcase-replay-service-app/*.versionsBackup
/replay/jcase-replay-service-client/*.versionsBackup
/replay/jcase-replay-service-ext/*.versionsBackup
/replay/jcase-replay-service/*.versionsBackup
/storage/jcase-storage-service-client/*.versionsBackup
/storage/jcase-storage-service/*.versionsBackup
